# https://travis-ci.org

language: cpp

os: linux

dist: trusty

notifications:
  email: false
  
sudo: required

before_install:
  - bash .travis.sh travis_before_install

install:
  - bash .travis.sh travis_install

script:
  - bash .travis.sh travis_script
