# https://travis-ci.org

language: cpp

os: linux

dist: trusty

notifications:
  email: false
  
sudo: required

before_install:
  - '[ "$TRAVIS_SECURE_ENV_VARS" == "false" ] || openssl aes-256-cbc -K $encrypted_b66758f9be86_key -iv $encrypted_b66758f9be86_iv -in .dropbox_uploader.enc -out ~\/.dropbox_uploader -d'
  - bash .travis.sh travis_before_install

install:
  - bash .travis.sh travis_install

script:
  - bash .travis.sh travis_script
